# Building a Relational Database Part 1

- toc: true
- badges: true
- comments: true
- image: images/PostgresSQL.png

# Project Description 

In this project, I explore Chicago Crime Dataset and implement a relational database for storing the data. The key tasks for this project are as follows: 

1. Indentify the features (attributes) in Chicago Crime dataset and design an entity-relationship model
2. Refine the model and convert each relation to 3NF (if required)
3. Using DDL implement the relations in a postgres server
4. Load the given data to the relations
5. Execute some interesting queries on the relations


## Dataset

* Dataset URL: **/dsa/data/DSA-7030/Chicago-Crime-Sample-2012.csv**
* Dataset Description: [pdf](./ChicagoData-Description.pdf)

## Dataset exploration

In [2]:
import pandas as pd
datapath = "/dsa/data/DSA-7030/Chicago-Crime-Sample-2012-updated.csv"
df = pd.read_csv(datapath, index_col=0)

In [2]:
# check columns
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 336149 entries, 12236659 to 9998136
Data columns (total 21 columns):
Case Number             336148 non-null object
Date                    336149 non-null object
Block                   336149 non-null object
IUCR                    336149 non-null object
Primary Type            336149 non-null object
Description             336149 non-null object
Location Description    335702 non-null object
Arrest                  336149 non-null bool
Domestic                336149 non-null bool
Beat                    336149 non-null int64
District                336149 non-null int64
Ward                    336142 non-null float64
Community Area          336123 non-null float64
FBI Code                336149 non-null object
X Coordinate            335446 non-null float64
Y Coordinate            335446 non-null float64
Year                    336149 non-null int64
Updated On              336149 non-null object
Latitude                335446 non-null float64
Longitude               335446 non-null float64
Location                335446 non-null object
dtypes: bool(2), float64(6), int64(3), object(10)
memory usage: 51.9+ MB

In [3]:
df.head()

,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
ID,,,,,,,,,,,,,,,,,,,,,
12236659,JD449284,11/27/2012 06:00:00 PM,028XX W BELDEN AVE,0266,CRIMINAL SEXUAL ASSAULT,PREDATORY,RESIDENCE,False,False,1414,...,1.0,22.0,02,NaN,NaN,2012,12/05/2020 03:46:44 PM,NaN,NaN,NaN
12214909,JD424223,09/15/2012 01:30:00 PM,045XX W CERMAK RD,0620,BURGLARY,UNLAWFUL ENTRY,OTHER (SPECIFY),False,False,1012,...,24.0,29.0,05,NaN,NaN,2012,12/05/2020 03:44:06 PM,NaN,NaN,NaN
12235566,JD447838,01/01/2012 12:01:00 AM,031XX W 44TH ST,1752,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,RESIDENCE,False,False,922,...,15.0,58.0,17,NaN,NaN,2012,12/03/2020 03:51:39 PM,NaN,NaN,NaN
12234792,JD447109,12/07/2012 12:00:00 PM,107XX S MORGAN ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,2234,...,34.0,75.0,11,NaN,NaN,2012,12/02/2020 03:56:38 PM,NaN,NaN,NaN
12230182,JD441224,02/27/2012 06:50:00 PM,017XX W BERWYN AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,2012,...,40.0,77.0,11,NaN,NaN,2012,11/26/2020 03:48:35 PM,NaN,NaN,NaN

In [4]:
df.tail()

,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
ID,,,,,,,,,,,,,,,,,,,,,
9984444,HY173771,10/11/2012 06:00:00 AM,076XX S COLFAX AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,False,False,421,...,7.0,43.0,11,1194850.0,1854806.0,2012,02/10/2018 03:50:01 PM,41.756505,-87.561474,"(41.756504746, -87.561473501)"
9987208,HY177204,12/15/2012 09:00:00 AM,067XX S PERRY AVE,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,722,...,6.0,69.0,07,1176558.0,1860300.0,2012,02/10/2018 03:50:01 PM,41.772012,-87.628344,"(41.772011702, -87.628344479)"
9990541,HY180702,02/07/2012 09:00:00 AM,010XX N HONORE ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,1212,...,1.0,24.0,11,1163877.0,1906994.0,2012,02/09/2018 03:44:29 PM,41.900421,-87.673514,"(41.900420776, -87.673514317)"
9991722,HY181590,04/01/2012 12:01:00 AM,019XX S DRAKE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,False,False,1024,...,24.0,29.0,11,1153060.0,1890087.0,2012,02/09/2018 03:44:29 PM,41.854248,-87.713694,"(41.854247595, -87.713694133)"
9998136,HY188115,01/01/2012 09:00:00 AM,045XX W WRIGHTWOOD AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,2521,...,31.0,20.0,11,1145496.0,1917131.0,2012,02/09/2018 03:44:29 PM,41.928606,-87.740772,"(41.928605829, -87.740771814)"

In [7]:
## Look at dimensions and Count NaNs
print(df.shape)
df.isna().sum()

(336149, 21)

Case Number               1
Date                      0
Block                     0
IUCR                      0
Primary Type              0
Description               0
Location Description    447
Arrest                    0
Domestic                  0
Beat                      0
District                  0
Ward                      7
Community Area           26
FBI Code                  0
X Coordinate            703
Y Coordinate            703
Year                      0
Updated On                0
Latitude                703
Longitude               703
Location                703
dtype: int64

It appears the the vast majoirty of records do not have NAs.

In [3]:
##Testing case numbers to see if you can have multiple IUCRs per case number. It appears no from the multiple numbers I checked
print(df.loc[df['Case Number'] == 'HV328499'])

      Case Number                    Date            Block  IUCR Primary Type  \
ID
20454    HV328499  06/11/2012 12:25:00 AM  007XX W 50TH PL  0110     HOMICIDE
20455    HV328499  06/11/2012 12:17:00 AM  007XX W 50TH PL  0110     HOMICIDE

               Description Location Description  Arrest  Domestic  Beat  ...  \
ID                                                                       ...
20454  FIRST DEGREE MURDER               STREET    True     False   935  ...
20455  FIRST DEGREE MURDER               STREET   False     False   935  ...

       Ward  Community Area  FBI Code X Coordinate  Y Coordinate  Year  \
ID
20454  20.0            61.0       01A    1172276.0     1871384.0  2012
20455  20.0            61.0       01A    1172276.0     1871384.0  2012

                   Updated On   Latitude  Longitude  \
ID
20454  06/20/2020 03:48:45 PM  41.802523 -87.643715
20455  06/20/2020 03:48:45 PM  41.802523 -87.643715

                            Location
ID
20454  (41.802522678, -87.643715019)
20455  (41.802522678, -87.643715019)

[2 rows x 21 columns]

## Design an Entity Relationship Model for the Chicago Crime Dataset

Crime_Report:

    Case_ID PK
    Case Number 
    Crime_ID FK                  
    Location_ID FK
    Arrest                  
    Domestic                
    Date                    
    Year                    
    Updated On              

Crime:

    Crime_ID PK
    IUCR                    
    FBI Code                
    Primary Type            
    Description             

Location:

    Location_ID PK               
    Location Description    
    Block                   
    Beat                    
    District                
    Ward                    
    Community Area          
    Latitude                
    Longitude               
    X Coordinate            
    Y Coordinate            

I created IDs for each group to account for messiness of the data.

## Final ERD

 ![Crime_ERD](./Crime_ERD_Updated.png)

## <center> Part-I ends here</center>